/*estilop3.css*/

@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,900&display=swap');

body{
    
    /*font-family: Truculenta;*/

    height: auto;
    font-family: 'Skranji', cursive;

    background-image: url("organize.jpeg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 5em;
    
    /*background-color: rgb(209, 139, 19);*/

}

#menu{   
    padding: 1em;
    position: absolute;
    top: 0;
    z-index: 100;
}

#menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a:link{
    color: #cc9900;
}

#menu ul li{
    display:inline-block;
    background-color: rgb(32, 2, 49);
    color: #cc9900 ;
    border-radius: 15px;
    padding: 0.5em 0.5em;
    margin: 0 1vh;
    border: 2px solid;
    
}


#grade_texto{
    width: 100%;
    /*margin: 0 auto;*/
    
    display: grid;
    grid-template-areas: 
    "maior     foto1"
    "maior     foto1"
    ;
}

#maior{
    grid-area: maior;
    margin: auto ;
    background-color: rgba(30, 227, 79, 0.7);
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 5em;
    color: #24013b;
    font-size: 25px;    
}

#foto1{
    grid-area: foto1;
    padding: 2em;
    margin-right: 100px;
    
}

#foto2{
    grid-area: foto2;
    padding: 0.5em;
    margin-top: 2em;
    text-align: center;
}





